In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_url = r"C:\Users\Administrator\OneDrive\Desktop\tmdb_5000_movies.csv"
credits_url = r"C:\Users\Administrator\OneDrive\Desktop\tmdb_5000_credits.csv"

movies = pd.read_csv(movies_url)
credits = pd.read_csv(credits_url)

In [3]:
movies = movies.merge(credits, on='title')

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
# 'genres', 'keywords', 'overview', 'title', 'movie_id', 'cast', 'crew'

In [6]:
movies = movies[['movie_id', 'genres', 'original_language', 'keywords', 'overview', 'title', 'cast', 'crew']]
movies.head(1)

,movie_id,genres,original_language,keywords,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.isnull().sum()

movie_id             0
genres               0
original_language    0
keywords             0
overview             3
title                0
cast                 0
crew                 0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.isnull().sum()

movie_id             0
genres               0
original_language    0
keywords             0
overview             0
title                0
cast                 0
crew                 0
dtype: int64

In [10]:
import ast

def string_to_list_func(x):
    genres_list = []
    for i in ast.literal_eval(x):
        genres_list.append(i['name'])
    return genres_list

In [11]:
movies['genres'] = movies['genres'].apply(string_to_list_func)
movies['keywords'] = movies['keywords'].apply(string_to_list_func)

In [12]:
movies.head(1)

,movie_id,genres,original_language,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [14]:
def fetch_cast(x):
    cast = []
    counter = 0
    for i in ast.literal_eval(x):
        if counter != 3:
            cast.append(i['name'])
            counter += 1
        else: break
    return cast

In [15]:
movies['cast'] = movies['cast'].apply(fetch_cast)

In [16]:
movies.head(1)

,movie_id,genres,original_language,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
def fetch_director(x):
    director_list = []
    for i in ast.literal_eval(x):
        if i['job'] == 'Director':
            director_list.append(i['name'])
    return director_list

In [18]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [19]:
movies.head(1)

,movie_id,genres,original_language,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [20]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(' ', '') for i in x])

In [21]:
movies.head(1)

,movie_id,genres,original_language,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",en,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [22]:
movies['tags'] =  movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [23]:
movies_df = movies[['movie_id', 'title', 'tags']]
movies_df['tags'] = movies_df['tags'].apply(lambda x: ' '.join(x))

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5316\4267038877.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x: ' '.join(x))

In [24]:
movies_df['tags'] = movies_df['tags'].apply(lambda x: x.lower())

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5316\2963232028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x: x.lower())

In [25]:
movies_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [26]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\administrator\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\administrator\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv = CountVectorizer(max_features= 5000, stop_words='english')

In [29]:
vector = cv.fit_transform(movies_df['tags']).toarray()

In [30]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarities = cosine_similarity(vector)

In [36]:
similarities

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [41]:
def recommend(movie):
    index = movies_df[movies_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarities[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies_df.iloc[i[0]].title)

In [42]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Ender's Game
Aliens vs Predator: Requiem
Independence Day